<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>score</key>
		<string>200</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>500</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>900</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>1500</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>2500</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>4000</string>
		<key>step</key>
		<string>15</string>
	</dict>
	<dict>
		<key>score</key>
		<string>5000</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>7500</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>10000</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>12500</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>15000</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>17500</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>20000</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>25000</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>30000</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>35000</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>40000</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>47500</string>
		<key>step</key>
		<string>30</string>
	</dict>
	<dict>
		<key>score</key>
		<string>55000</string>
		<key>step</key>
		<string>30</string>
	</dict>
	<dict>
		<key>score</key>
		<string>62500</string>
		<key>step</key>
		<string>35</string>
	</dict>
	<dict>
		<key>score</key>
		<string>70000</string>
		<key>step</key>
		<string>35</string>
	</dict>
</array>
</plist>
